<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="CAnnotations">
        <classes>
            <class name="Annotations.TestAnnotation"/>
            <class name="Annotations.Test1"/>
            <class name="Annotations.Test2"/>
        </classes>
    </test>
    <test name="test2">
        <packages>
            <package name="Annotations"></package>
        </packages>
    </test>
</suite>

